@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>ClinicaWEB</h1>
<b><h3>Objetivos generales</h3></b>
@*<h5>*@
El presente trabajo práctico persigue los siguientes objetivos generales:
<br />
    <ul>
        <li>Promover la investigación de técnicas de base de datos.</li>
        <li>Aplicar la teoría y conceptos adquiridos para lograr un producto completo.</li>
        <li>Desarrollar y probar distintos algoritmos sobre datos reales.</li>
        <li>Utilizar un lenguaje de programación de última generación.</li>
        <li>Fomentar la delegación y el trabajo en grupo.</li>
    </ul>
@*</h5>*@
<br />
<b><h3>Descripcion general</h3></b>
@*<h5>*@
Mediante este trabajo práctico se intenta simular la implementación  de nuevo sistema de la rama de la medicina.
Abarca la problemática de los afiliados y la implementación de un nuevo módulo que le permita comprar bonos desde cualquier pc, como así también el pedido de turnos para los diferentes profesionales que conforman el staff de la clínica.
Se disponen de bonos para consulta y bonos para farmacia, los cuales varían su precio en función del plan médico que dispone el afiliado, dicho precio debe ser parametrizado y modificado en función del tiempo.

La implementación de dicho sistema, requiere previamente realizar la migración de los datos que se tenían hasta el momento.
Es para ello que se necesita que se reformulen los procesos y el diseño de la base de datos que cumpla con las nuevas restricciones y se adecue a la situación actual.
@*</h5>*@

<b><h3>Autores</h3></b>
El equipo Buleanitos está compuesto por:
<ul>
        <li>Miguel Centellas</li>
        <li>Leandro Noguera</li>
        <li>Julio Patetta</li>
        <li>Emiliano Rodriguez Ridao</li>
        <li>Nadia Siksnys</li>
    </ul>
